#nametag {
	margin: auto;
	width: 24rem;
	padding-top: 1rem;
	padding-bottom: 3rem;
	border-radius: 1.25rem;
	background-color: #333;
}
.nametag-text {
	color: #fff;
}
#nametag h1 {
	padding: 1.25rem;
	background-color: #fff;
	width: 100%;
}

/* media */
@media screen and (max-width: 768px) {
	/*md*/
	#nametag {
		width: 60vw;
	}
}
