.project-div {
	padding: 0.75rem;
	cursor: pointer;
	text-align: center;
	border-radius: 0.25rem;
}
.project-div:hover {
	background-color: #eee;
}
.project-div:hover .project-title a {
	color: #333;
	text-decoration: underline;
}
.project-icon {
	margin-top: 0.75rem;
	width: 4rem;
}
.project-desc {
	padding: 0.5rem;
	text-align: left;
}
.project-screenshot {
	width: 90%;
	/*width: 40%;*/
	/*width: 200px;*/
	border: 2px solid #eee;
	box-shadow: 0.5rem 0.5rem 0px var(--lightblue);
	margin-bottom: 1rem;
}
.project-div:hover .project-details {
	display: inline;
}
.project-details a,
.project-desc-link {
	font-weight: bold;
}

#projects-div h1 {
	font-weight: bold;
	background-color: #333;
	color: #fff;
	padding: 0.5rem;
	padding-left: 1rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

/* modals */
.modal-content {
	padding: 1.5rem;
}
.close {
	background-color: #fff;
	font-size: 200%;
}
.close:hover {
	color: #fff;
	background-color: #333;
}
.close:focus {
	box-shadow: 0 0 0 0.25rem #999;
	outline: none;
}
.modal-content h3 {
	color: #666;
}

.view-project {
	border: 2px solid #666;
	padding: 0.125rem;
	display: block;
	letter-spacing: 0.1rem;
	font-weight: 400 !important;
	text-align: center;
	color: #666;
	margin-top: 1rem;
}
.view-project-in-card {
	padding: 0.25rem;
	display: block;
	letter-spacing: 0.1rem;
	font-weight: 400 !important;
	text-align: center;
	color: #666;

	background-color: #eee;
	position: absolute;
	bottom: 0.5rem;
	border-bottom-width: 0.5rem;
	left: 0;
	right: 0;
}
.view-project:before,
.view-project-in-card:before {
	background-color: #333;
}

.project-desc-link:hover,
.project-desc-link:focus {
	text-decoration: underline;
}

#profile-img {
	cursor: pointer;
	transition: transform 0.2s linear;
}
#profile-img:hover {
	transform: scale(1.05);
}

.link-btn:before {
	background-color: transparent;
}
.link-btn,
.link-btn:hover {
	border: 2px solid #fff;
}

@media only screen and (max-width: 768px) {
	/* md */
	.project-screenshot {
		/* centered */
		margin: 10px auto;
		display: block;
	}
	.project-desc,
	.project-details {
		padding: 15px;
	}
}
