@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Raleway&family=Merriweather&display=swap');

/* Reset CSS */

html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

/* Typography */

* {
	font-family: 'Raleway', Roboto, Arial;
}

h1,
h2 {
	text-transform: uppercase;
	letter-spacing: 0.25rem;
	font-family: 'Righteous', Roboto, Arial;
}
h3,
h4,
h5,
h6 {
	font-family: 'Merriweather', Roboto, Arial;
}

/* Modal */

.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 40;
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	outline: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
	position: relative;
	width: auto;
	margin: 2rem auto;
	max-width: 640px;
}

.modal-content {
	background-color: #fff;
}

.modal-header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 1rem;
	border-bottom: 2px solid #eee;
}

.modal-body {
	padding: 1rem;
}

/* Animations on page load */

.st0 {
	opacity: 0;
	transition: opacity 1s ease;
}
.st0.show {
	opacity: 1;
}

#name-heading,
#nametag,
.tag-col,
.fade-in-text,
#menu-btn,
hr {
	opacity: 0;
	animation: fadeIn linear 2s;
	animation-fill-mode: forwards;
}

#name-heading,
#nametag {
	animation-delay: 1s;
}
.tag-col {
	animation-delay: 2s;
}
.fade-in-text {
	animation-delay: 3s;
}
#menu-btn {
	animation-delay: 1.5s;
}
hr {
	animation-delay: 0.5s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#top-btns {
	opacity: 0;
	animation: slideDown linear 1s;
	animation-fill-mode: forwards;

	animation-delay: 2.5s;
}

@keyframes slideDown {
	from {
		opacity: 0;
		max-height: 0;
	}
	to {
		opacity: 1;
		max-height: 200px; /* Adjust the value to accommodate the content height */
	}
}

/* Colors */

:root {
	/* --yellow: #fed600; */
	--lightblue: #91d8f7;
	/* --darkblue: #485e88; */
	/* --orange: #faa74a; */
}
::-moz-selection {
	background: var(--lightblue);
}
::selection {
	background: var(--lightblue);
}

/* More Basics */

body {
	margin: 2.5rem;
	margin-top: 5rem;
}

p {
	line-height: 1.5rem;
}

hr {
	margin: 1rem 0;
	border: 1px solid #eee;
}

/* Buttons */

.btn {
	display: inline-block;
	font-weight: 400;
	user-select: none;
	cursor: pointer;

	border-radius: 0;
	padding: 0.75rem 1.25rem;
}
.btn-dark {
	color: #fff;
	background-color: #333;
}
.btn-dark:hover {
	background-color: #333;
	box-shadow: 0.25rem 0.25rem 0px var(--lightblue);
}

/* Top */

#top-container {
	text-align: center;
	margin-bottom: 3rem;
}
#profile-img {
	margin: 0.5rem;
	width: 12rem;
}

#name-heading {
	font-size: 3rem;
	transition: text-shadow 0.2s linear;
}
#name-heading:hover {
	text-shadow: 0.25rem 0 var(--lightblue);
}

/* Links */

a {
	font-weight: bold;
	color: #666;
	text-decoration: none;
}
a:not(.project-desc-link):not(.view-project-in-card) {
	position: relative;
}
a:hover,
a:focus,
a:active {
	color: #666;
	text-decoration: none;
	outline: none;
}

/* Underline Effect */

a:not(.project-desc-link):before {
	content: '';
}
a:before {
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--lightblue);
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: -webkit-transform 0.33s ease-in-out 0s;
	transition: transform 0.33s ease-in-out 0s;
}
a:hover:before,
a:focus:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

/* Sidebar */

#menu-btn {
	position: fixed;
	z-index: 20;
	left: 0;
	top: 0;
	border: 4px solid transparent;
}
#menu-btn:focus {
	border: 4px solid #999;
	box-shadow: none;
}

#sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: #333;
	overflow-x: hidden;
	padding-top: 6rem;
	transition: 0.2s ease-in-out;
	text-align: left;
}
#sidebar a {
	padding: 1rem;
	text-decoration: none;
	font-size: 1.25rem;
	display: block;
	color: #fff;
	border: 4px solid transparent;
	transition: all, 0.2s linear;
}
#sidebar a:hover,
#sidebar a:focus {
	background-color: #fff;
	color: #333;
	outline: none;
}
#sidebar a.active {
	background-color: #ffff;
	color: #333;
}
#sidebar a:focus {
	border-color: #666;
}

.tag-col a {
	color: #999;
	font-weight: lighter;
	font-style: italic;
}

/* Animated Profile Pic */

#profile-img path {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	animation: dash 4s ease-in-out reverse;
	stroke: rgba(255, 255, 255, 0.8) !important;
	stroke-width: 1.5 !important;
}

@keyframes dash {
	from {
		stroke-dashoffset: 1000;
		fill-opacity: 1;
	}
	to {
		stroke-dashoffset: 0;
		fill-opacity: 0;
	}
}

@media screen and (max-width: 768px) {
	body {
		margin-top: 2.5rem;
	}
	.tag-col br {
		display: none !important;
	}
	.tag-col p {
		display: none;
	}
	#profile-img {
		margin-top: 1.25rem;
		margin-bottom: 1.25rem;
	}
}
