@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Raleway&family=Merriweather&display=swap');

/* Reset CSS */

html {
	box-sizing: border-box;
	font-size: 16px;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol, ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

/* Typography */

* {
	font-family: 'Raleway', Roboto, Arial;
}

h1,
h2 {
	text-transform: uppercase;
	letter-spacing: 0.25rem;
	font-family: 'Righteous', Roboto, Arial;
}
h3,
h4,
h5,
h6 {
	font-family: 'Merriweather', Roboto, Arial;
}


  /* BS Modal */

  /* Vanilla CSS Modal */

/* Body class for killing the scroll */
body.modal-open {
	overflow: hidden;
  }
  
  /* Container to scroll within */
  .modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050; /* Equivalent to Bootstrap's $zindex-modal */
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	outline: 0;
	background-color: rgba(0, 0, 0, 0.5); /* Equivalent to Bootstrap's $modal-backdrop-bg */
  }
  
  /* Shell div to position the modal */
  .modal-dialog {
	position: relative;
	width: auto;
	margin: 30px auto; /* Equivalent to Bootstrap's $modal-dialog-margin */
	pointer-events: none;
  }
  
  /* Actual modal content */
  .modal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	color: #000; /* Equivalent to Bootstrap's $modal-content-color */
	pointer-events: auto;
	background-color: #fff; /* Equivalent to Bootstrap's $modal-content-bg */
	border: 1px solid rgba(0, 0, 0, 0.2); /* Equivalent to Bootstrap's $modal-content-border-color */
	border-radius: 0.3rem; /* Equivalent to Bootstrap's $modal-content-border-radius */
	box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5); /* Equivalent to Bootstrap's $modal-content-box-shadow-xs */
	outline: 0;
  }
  
  /* Modal background */
  .modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1040; /* Equivalent to Bootstrap's $zindex-modal-backdrop */
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5); /* Equivalent to Bootstrap's $modal-backdrop-bg */
	opacity: 0;
	transition: opacity 0.15s linear;
  }
  
  /* Modal header */
  .modal-header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 1rem; /* Equivalent to Bootstrap's $modal-header-padding */
	border-bottom: 1px solid rgba(0, 0, 0, 0.2); /* Equivalent to Bootstrap's $modal-header-border-color */
	border-radius: 0.3rem 0.3rem 0 0; /* Equivalent to Bootstrap's $modal-content-border-radius */
  }
  
  /* Title text within header */
  .modal-title {
	margin-bottom: 0;
	line-height: 1.5; /* Equivalent to Bootstrap's $modal-title-line-height */
  }
  
  /* Modal body */
  .modal-body {
	position: relative;
	flex: 1 1 auto;
	padding: 1rem; /* Equivalent to Bootstrap's $modal-inner-padding */
  }
  
  /* Modal footer */
  .modal-footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 1rem; /* Equivalent to Bootstrap's $modal-inner-padding */
	border-top: 1px solid rgba(0, 0, 0, 0.2); /* Equivalent to Bootstrap's $modal-footer-border-color */
	border-radius: 0 0 0.3rem 0.3rem; /* Equivalent to Bootstrap's $modal-content-border-radius */
  }
  
  /* Measure scrollbar width for padding body during modal show/hide */
  .modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
  }
  

/* fade in svg circle bg */
	.st0 {
		opacity: 0;
		transition: opacity 1s ease;
	}
	.st0.show {
		opacity: 1;
	}

/* Colors */

:root {
	--yellow: #fed600;
	--lightblue: #91d8f7;
	--darkblue: #485e88;
	--orange: #faa74a;
}
::-moz-selection {
	background: var(--lightblue);
}
::selection {
	background: var(--lightblue);
}

/* More Basics */

body {
	margin: 2.5rem;
	margin-top: 5rem;
}
hr {
	border-width: 2px;
}

p {
	line-height: 1.5rem;
}

hr {
	margin: 1rem 0;
	border: 1px solid #eee;
}

/* Buttons */

.btn {
	border: 0;
	display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
	user-select: none;
	font-size: 1rem;
	cursor: pointer;

	border-radius: 0;
	padding: 0.75rem 1.25rem;
}
.btn-dark {
	color: #fff;
	background-color: #333;
}
.btn-dark:hover {
	background-color: #333;
	box-shadow: 0.25rem 0.25rem 0px var(--lightblue);
}

/* Top */

#top-container {
	text-align: center;
	margin-bottom: 3rem;
}
#profile-img {
	margin: 0.5rem;
	width: 12rem;
	border: 2px solid #fff;
	border-radius: 50%;
}

#name-heading {
	font-size: 3rem;
	transition: text-shadow 0.2s linear;
}
#name-heading:hover {
	text-shadow: 0.25rem 0 var(--lightblue);
}

/* Links */

a {
	font-weight: bold;
	color: #666;
	text-decoration: none;
}
a:not(.project-desc-link):not(.view-project-in-card) {
	position: relative;
}
a:hover,
a:focus,
a:active {
	color: #666;
	text-decoration: none;
	outline: none;
}

/* Underline Effect */

a:not(.project-desc-link):before {
	content: '';
}
a:before {
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--lightblue);
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: -webkit-transform 0.33s ease-in-out 0s;
	transition: transform 0.33s ease-in-out 0s;
}
a:hover:before,
a:focus:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

/* Sidebar */

#menu-btn {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	border: 4px solid transparent;
}
#menu-btn:focus {
	border: 4px solid #999;
	box-shadow: none;
}

#sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: #333;
	overflow-x: hidden;
	padding-top: 6rem;
	transition: 0.2s ease-in-out;
	text-align: left;
}
#sidebar a {
	padding: 1rem;
	text-decoration: none;
	font-size: 1.25rem;
	display: block;
	color: #fff;
	border: 4px solid transparent;
	transition: all, 0.2s linear;
}
#sidebar a:hover,
#sidebar a:focus {
	background-color: #fff;
	color: #333;
	outline: none;
}
#sidebar a.active {
	background-color: #ffff;
	color: #333;
}
#sidebar a:focus {
	border-color: #666;
}

.tag-col a {
	color: #999;
	font-weight: lighter;
	font-style: italic;
}

/* Tooltips */

.tooltip-inner {
	background: #333;
	color: #fff;
	border-radius: 0;
}
.bs-tooltip-auto[x-placement^='bottom'] .arrow::before,
.bs-tooltip-bottom .arrow::before {
	border-bottom-color: #333;
}

/* Animated Profile */

#profile-img path {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	animation: dash 4s ease-in-out reverse;
	stroke: rgba(255, 255, 255, 0.8) !important;
	stroke-width: 1.5 !important;
}

@keyframes dash {
	from {
		stroke-dashoffset: 1000;
		fill-opacity: 1;
	}
	to {
		stroke-dashoffset: 0;
		fill-opacity: 0;
	}
}

@media screen and (max-width: 768px) {
	/* md */
	body {
		margin-top: 2.5rem;
	}
	.tag-col br {
		display: none !important;
	}
	.tag-col p {
		transform: rotate(0deg) !important;
		display: inline;
		padding-right: 0.25rem;
	}
	#profile-img {
		margin-top: 1.25rem;
		margin-bottom: 1.25rem;
	}
}
@media screen and (max-width: 576px) {
	/* xs */
	.tag-col p {
		display: none;
	}
}
